<!-- <app-header></app-header>
<br><br><br>

<div>

    <button (click)="getAllOrders()">GetAllOrders</button>
    <button (click)="getOrderById(34)">GetOrders</button>
    <button (click)="Subjects()">testSubject</button>
    <a routerLink="creat-order" routerLinkActive="activeBtn">Make Order</a>

</div> -->



<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
  </head>
  <app-header></app-header>
  <br><br><br>
  <div class="panel panel-primary">
      <div class="panel-heading" >
        <h2 >Orders List</h2>
      </div>
      <div class="panel-body">
  
        <a routerLink="creat-order" style="font-size:18px;cursor: cell;margin-right: 5%;"><i class="fa fa-plus-circle"></i>Create Order</a>
         <!-- Search by button:  -->
               <!-- <input  id="form_name"  (keyup)="myFunction()" placeholder="Search for names.." title="Type in a name" #searchStr>  -->
   
        <div id="table-wrapper">
        <div>
      
        <table class="table table-striped" id="myTable">
          <thead>
            <tr>
              <th>order Id</th> 
              <th>Total</th>
              <th>Address</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>  
            <tr  *ngFor="let order of (ordersList)" >
              <td class="id">{{order.id}}</td>
              <td class="name">{{order.total}}</td>
              <td class="price">{{order.address}}</td>
              <td>
                <button type="button" (click)="deleteOrder(order.id)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                <a routerLink="./updateProduct/{{order.id}}" ><button class="btn btn-success" style="margin-left: 10px"><i class="fa fa-edit"></i></button></a> 
                <a  routerLink="./viewDetails/{{order.id}}" ><button class="btn btn-info" style="margin-left: 10px"><i class="fa fa-info-circle"></i></button></a> 
  
                </td>
            </tr>
          </tbody>
          <a routerLink="creat-order" style="font-size:18px;cursor: cell;"> <i class="fa fa-plus-circle"></i>Create Order</a>
        </table>
      </div>
    </div>
      </div>
    </div>
  
  <!-- <div >
    {{orders$ | async| json }}
  </div> -->
