.container {
    margin:0 auto; /* this will center the page */
    width:95%; /*  use your width here */
 }

.table{
    border-collapse: separate;
    /* border-spacing: 0 15px; */
}
th {
    background-color: #4287f5;
    color: white;
  }
  th,
  td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
  }
  .dimentiosCell{
    border: unset;

 }