.container {
    margin:0 auto; /* this will center the page */
    width:95%; /*  use your width here */
 }

.table{
    border-collapse: separate;
    /* border-spacing: 0 15px; */
}
th {
    background-color: #4287f5;
    color: white;
  }
  th,
  td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
  }
  .dimentiosCell{
    border: unset;

 }

 input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.alertDanger
{
  color: red;
  text-decoration: underline;
  text-align: left;
  font-size: 12px;  
}
.alert-danger-input{
background-color: red;
}