nav {
  position: fixed;
  top: 0;

  z-index: 1000;

  left: 0;
  width: 100%;
}
.activeBtn {
  background-color: snow;
}

li {
  display: inline-block;
}

/* .navbar-nav li:hover>.dropdown-menu {
    display: block;
  } */
