
<div id="topheader">  
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- <a class="navbar-brand" href="#"><ng-container class="h2">Site Logo</ng-container></a> -->
            <img src="https://cdn.logo.com/hotlink-ok/logo-social.png" alt=""  class="navbar-brand">

          </div>
          <ul class="nav navbar-nav"> 
            <li ><a routerLink="/products" routerLinkActive="activeBtn" >Products</a></li> 
            <li ><a routerLink="/orders" routerLinkActive="activeBtn" >Orders</a></li> 
            
            
          </ul>
          
          <ul class="nav navbar-nav navbar-right">

            <!-- <li><a href="login" *ngIf="isLoggedOut | async"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
            <li><a href="login" (click)="Logout()" *ngIf="isLoggedIn | async" ><span class="glyphicon glyphicon-log-out"></span> logout</a></li>

          </ul>
        </div>
      </nav>
      
</div>
