
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
  </head>
  <body>
    <app-header></app-header>

  <div class="container" >
  <form style="width: 80% ; text-align: center;" class="modal-content" >
      <div  style="width: 80%; text-align: center;margin: auto;"  >
          <!-- <br><br> -->
          Order
          <!-- <br><br> -->
          <div class="modal-content" >
              <div class="modal-header">
                  Create New Order
              </div>
              <div class="modal-body">
  
                  <div class="row mx-4">
                      <div class="col-12 mb-2" style="text-align: left;margin-left: 2%;">
                        <label >Name</label>
                      </div>
                      <div class="col-12 col-sm-6">
                        <input id="fName" class="order-form-input"  placeholder="First" style="width: 100%;" >
                      </div>
                      <div class="col-12 col-sm-6 mt-2 mt-sm-0">
                        <input class="order-form-input" id="lName" placeholder="Last" style="width: 100%;" >
                      </div>
                      <div class="col-12 mb-2" style="text-align: left;margin-left: 2%; ">
                        <label style="margin-top:1% ;" >Phone</label>
                      </div>
                      <div style="text-align:left ;margin-left: 2% ;">
                        <input id="phone" class="order-form-input"  placeholder="Phone" type="tel" style="width: 30%;" >
                      </div>
  
                    </div>
                    
                    <div class="row mt-3 mx-4">
                      <div class="col-12" style="text-align: left;margin-left: 2%;">
                        <label class="order-form-label" for="date-picker-example" >Date</label>
                      </div>
                      <div class="col-12" style="text-align: left;margin-left: 2%;">
                        <input id="date" class="order-form-input datepicker" placeholder="Selected date" type="Date"
                        style="width: 50%;">
                      </div>
                    </div>
                    
                    <div class="row mt-3 mx-4" style="text-align: left;">
                      <div class="col-12" style="margin-left: 2% ;" >
                        <label class="order-form-label">Adress</label>
                      </div>
                      <div class="col-12" >
                        <input class="order-form-input" style="width: 60%;margin-left: 2% ;" placeholder="Street Address" >
                      </div>
                      <div class="col-12 col-sm-5" style="margin-top: 6px;margin-left: 0.5%;">
                        <input class="order-form-input"  placeholder="City">
                      </div>
                      <div class="col-12 col-sm-5 mt-2 pl-sm-0" style="margin-top: 6px;">
                        <input class="order-form-input" placeholder="Region">
                      </div>
                    
                      <div class="col-4 col-sm-5 mt-4 pr-sm-4" style="margin-top: 6px;margin-left: 0.5%;">
                     
                        <input class="order-form-input" placeholder="Postal / Zip Code">
                      </div>
                      <div class="col-12 col-sm-5 mt-2 pl-sm-0" style="margin-top: 6px;">
                        <input class="order-form-input" placeholder="Country">
                      </div>
                    </div>
  
                    <div class="col-12 col-sm-2 mt-2 pl-sm-0" style="margin-top: 6px;">
                      <br>
                     
  
                      <!-- <button (click)="showProductsTable()" type="button" class="btn btn-info" routerLink = "../products/addToCart"><i class="fa fa-shopping-cart"  ></i> Add Products</button> -->
  
                  </div>
                    <table form="rowForm" class="table table-striped" width="100%" id="productsInCartTable" >
                      <thead>
                        <tr>
                          <th>Product Id</th>
                          <th>Product Name</th>
                          <th>Prica</th>
                          <th>Production Date</th>
                          <th>Expiry Date</th>
                          <th>Category</th>
                          <th>Dimensions(L*W*H)</th>
                          <th>Made In</th>
                          <th>Active</th>
                          <th>Number Of Items</th>
  
                        </tr>
                      </thead>
                      <tbody>  
                        <tr *ngFor="let product of listOfProduct">
                        
                          <td class="id">{{product.id}}</td>
                          <td class="name">{{product.name}}</td>
                          <td class="price">{{product.price}}</td>
                          <td class="production_date">{{product.production_date}}</td>
                          <td class="expiry_date">{{product.expiry_date}}</td>
                          <td class="category">{{product.category}}</td>
                          <td class="dimentions">{{product.length}} * {{product.width}} * {{product.height}}</td>
                          <td class="made_in">{{product.made_in}}</td>
                          <td class="active">{{product.active}}</td>
                          <td class="number_of_items"><input type="text"></td>
  
                          <td>
                            <!-- <button *ngIf="!displayCart" type="button" (click)="deleteProduct(product.id)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button> -->
                            <!-- <button (click)="deleteProduct(product.id)" class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</button> -->
                            <!-- <a *ngIf="!displayCart" routerLink="./updateProduct/{{product.id}}"><button class="btn btn-info" style="margin-left: 10px">Update</button></a>  -->
                            <!-- <button (click)="productDetails(product.id)" class="btn btn-info" style="margin-left: 10px">Details</button> -->
                            <!-- <button *ngIf="displayCart" class="btn btn-success"  type="button" (click)="daddProductToCart(product.id)"><i class="fa fa-cart-plus fa-2x"  ></i></button>  -->
                            <!-- <button *ngIf="displayCart" class="btn btn-success"><i class="fa fa-cart-arrow-down fa-2x"></i></button>  -->
              
                            </td>
                        </tr>
                      </tbody>
                    </table>                  
          
                    <button (click)="showProductsTable(true)" type="button" class="btn btn-info" ><i class="fa fa-shopping-cart"  ></i> Add Products</button>
                    <button (click)="showProductsTable(false)" type="button" class="btn btn-secondary" style="margin-left: 10px;"> Done </button>
                    <button (click)="ApplyOrder()" type="button" class="btn btn-success" style="margin-left: 10px;"> Apply Order </button>
                    <app-product-list *ngIf="showTable" style="height: 10%;" ></app-product-list>
                    
              </div>
              <div class="modal-footer">
                  footer
              </div>
          </div>
          
      </div>
      <br><br>
  </form>
  </div>
  </body>