.container {
    /* margin:auto; this will center the page */
    text-align: center;
    width:100%; /*  use your width here */
 }

 form {
    display: inline-block;
    border: 2px red solid;
    background-color: antiquewhite;
    width: auto;
    height: fit-content;
    text-align: center;
    /* margin: 20px; */
    margin: 2% 2% 2% 2%;
    
}
table {
    border-collapse: separate;
    border-spacing: 0 1em;
    flex-wrap: nowrap;
    
}
  


  .order-form-label {
    margin: 8px 0 0 0;
    font-size: 14px;
    font-weight: bold;
  }

  .order-form-input {
    width: 100%;
    padding: 8px 8px;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 3px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    background-color: transparent;
    border-color: #cccccc;
  }

  .btn-submit:hover {
    background-color: #090909 !important;
  }